<link rel="stylesheet" href="/styles/footer.css">

 <footer>
      <div id="footer__container">
        <div class="footer__brand">
          <div class="brand__logo">
            <img src="" alt="">
          </div>
          <h1>Urban Threads</h1>
          <p>Premium Streetwear for all</p>
        </div>
        <div class="footer__newsletter">
          <div class="newsletter__header">
            <h1>JOIN THE NEWSLETTER</h1>
            <p>Get monthly updates on the latest sales, and other promotional deals</p>
          </div>
          <form class="newsletter__form">
            <p>Email</p>
            <div class="newsletter__signup">
              <input type="email" placeholder="johndoe@gmail.com">
              <button class="newsletter__subscribe">Subscribe</button>
            </div>
          </form>
        </div>
        <div class="footer__contact">
          <h1>Contact us</h1>
          <ul class="list">
            <li>+12 34 567 8910</li>
            <li>Instagram</li>
            <li>Facebook</li>
            <li>X</li>
          </ul>
        </div>
        <div class="footer__explore">
          <h1>Explore</h1>
          <ul class="list">
            <li><a href="">Home</a></li>
            <li><a href="">Hoodies</a></li>
            <li><a href="">Sneakers</a></li>
            <li><a href="">T-Shirts</a></li>
          </ul>
        </div>
      </div>
    </footer>