footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    padding: 10px;
}

footer #footer__container {
    display: flex;

    justify-content: space-between;
    width: 76em;
    height: 18em;
    padding: 26px 53px;
    background-color: #f2f2f2;
}

.footer__brand {
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.footer__brand .brand__logo {
    width: 70px;
    height: 70px;
    background-color: #010101;
    border-radius: 20px;
}

.footer__newsletter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 18em;
    height: 15em;
}

.footer__newsletter .newsletter__header p {
    width: 20em;
    flex-wrap: wrap;
}

.newsletter__form, .newsletter__signup {
    display: flex;
    flex-direction: column;
}

.newsletter__form {
    height: auto;
    width: auto;
    gap: 16px;
}

.newsletter__signup {
    gap: 12px;
}
.newsletter__signup .newsletter__subscribe, .newsletter__signup input {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 50px;
    background-color: #010101;
    color: white;
    border: none;
    outline: none;
}

.newsletter__signup input {
    background-color: #E5E5E5;
    color: black;
}

.newsletter__signup input::placeholder {
    text-align: center;
    color: #6E6E6E50;
}

.footer__contact, .footer__explore {
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
    height: 10em;
}

.footer__contact li, .footer__explore li {
    list-style: none;
    opacity: 50%;
}

.footer__contact .list, .footer__explore .list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer__contact li:hover, .footer__explore li:hover {
    opacity: 100%;
    cursor: pointer;
}

button {
    cursor: pointer;
}

footer h1 {
    font-size: 23px;
    font-weight: 300;
}
footer p {
    font-size: 15px;
    opacity: 50%;
}